<!--バリデーションによるエラーメッセージ設定 -->
<% if @comment.errors.any? %>
  <%= @comment.errors.count %>件 エラーが発生しました。
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<% post.comments.each do |comment| %>
  <div class="mb-2 p-3 border bg-white">
    <div class="row">
      <div class="col-md-3">
        <%= link_to user_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image(50,50) %><br>
          <%= comment.user.name %>
        <% end %>
      </div>

      <div class="col-md-9">
        <pre><%= comment.comment %></pre>
        <div class="text-right">
          <% if comment.user == current_user || current_user.is_administrator? %>
            <%= link_to "削除", post_comment_path(post, comment), method: :delete, class: "btn btn-sm btn-danger float-end", remote: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>