<div class="p-3 border" style="background-color: white;">
  <table class='table'>
    <%= image_tag user.get_profile_image(100,100) %>
    <tr>
  	  <th width="50%">ユーザー名</th>
  	  <td><%= user.name %></td>
    </tr>
    <tr>
  	  <th>紹介文</th>
  	  <td><%= user.introduction %></td>
    </tr>
  </table>

  <div class="d-flex">
    <% if current_user.is_administrator || current_user == user %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    <% end %>
  </div>
</div>

<% if action_and_action? %>
  <div class="mt-5 border" style="background-color: white;">
    <!-- Tag Lists -->
    <ul>
      <h2>Tag Lists</h2>
      <% Tag.all.each do |tag| %>
      <li><%= link_to tag.tag_name, tag_search_path(id: tag.id) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

