<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="row">
          <div class="col-md-3 mh-100 d-flex justify-content-center align-items-center">
            <div class="card-body">
              <%= link_to user_path(post.user) do %>
                <%= image_tag post.user.get_profile_image(100, 100) %>
                <span class="d-block">
                  <%= post.user.name %>
                </span>
              <% end %>
            </div>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h6 class="font-weight-bold">タイトル</h6>
              <h5 class="card-title">
                <%= link_to post_path(post) do %>
                    <%= post.title %>
                <% end %>
              </h5>
              <h6 class="font-weight-bold mt-3">質問内容</h6>
              <div class="card-text">
                <%= post.question_content.truncate(30) %>
                <div class="mt-3">
                  <h6 class="font-weight-bold">タグ</h6>
                  <i class="fa-solid fa-tag"></i> <%= post.tag.tag_name %>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card-footer text-right">
          <div>
            <!-- 投稿日時 -->
            投稿日時：<%= l post.created_at, format: :short %>
          </div>
          <div id="like_btn_<%= post.id %>">
            <!-- いいね -->
            <%= render "likes/btn", post: post %>
          </div>
          <div>
            <small class="text-black-50">
              <!-- コメント数 -->
              コメント数：<%= post.comments.count %>
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
</div>